@font-face {
  
  font-family: "GE SS Two";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/GESSTwoLight-Light.eot");
  src: url("./fonts/GESSTwoLight-Light.eot?#iefix")
    format("embedded-opentype"),
    url("./fonts/GESSTwoLight-Light.woff2") format("woff2"),
    url("./fonts/GESSTwoLight-Light.woff") format("woff"),
    url("./fonts/GESSTwoLight-Light.ttf") format("truetype");
}

@font-face {
  
  font-family: "GE SS Two";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/GESSTwoBold-Bold.eot");
  src: url("./fonts/GESSTwoBold-Bold.eot?#iefix")
    format("embedded-opentype"),
    url("./fonts/GESSTwoBold-Bold.woff2") format("woff2"),
    url("./fonts/GESSTwoBold-Bold.woff") format("woff"),
    url("./fonts/GESSTwoBold-Bold.ttf") format("truetype");
}

@font-face {
  
  font-family: "GE SS Two";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/GESSTwoMedium-Medium.eot");
  src: url("./fonts/GESSTwoMedium-Medium.eot?#iefix")
    format("embedded-opentype"),
    url("./fonts/GESSTwoMedium-Medium.woff2") format("woff2"),
    url("./fonts/GESSTwoMedium-Medium.woff") format("woff"),
    url("./fonts/GESSTwoMedium-Medium.ttf") format("truetype");
}
