.forgot-password-card__content {
  padding: 1em 2em;
}

.forgot-password-form__title {
  padding-bottom: 1em;
  color: $font-color-secondary;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;

  @include breakpoint {
    font-size: 1.5em;
    font-weight: 300;
  }
}

.forgot-password-form__info {
  padding-bottom: 1em;

  @include breakpoint {
    max-width: 80%;
  }
}

.forgot-password__field {
  padding-bottom: 2em;  
}

.form__buttons__button--forgot-password {
  border-radius: 2em;
}

.form__buttons__button--email-sent {
  border-radius: 2em;

  @include breakpoint {
    max-width: unset;
  }
}
  
.forgot-password-form__forgot-password-links {
  display: block;
  margin-top: 2em;
  font-size: 0.75em;
  text-align: center;
}

.forgot-password-form__forgot-password-links__separator {
  display: block;
  padding: 1em 0;
  color: $font-color-secondary;
  font-weight: 700;
}

.forgot-password-form__forgot-password-links__link {
  font-weight: 700;
  text-transform: uppercase;
  
  &::after {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-#{$start-direction}:0.5em;
    background: url("/img/icons/arrow_right.svg") no-repeat 50% 50%;
    background-size: 100%;
    content: "";
    line-height: 1;
    vertical-align: middle;
  }
}

.forgot-password-form__error-section__error-message {
  display: inline-block;
}
  